<table class="table table-bordered">
  <tbody>
    <% @medias.each_slice(3).to_a.each do |block| %>
      <tr class="media-tr-mm">
        <% block.each do |doc| %>
          <td>
            <strong class="media-title-mm"><%= doc.title %></strong><br/>
            <span class="media-content-mm"><%= doc.description %></span><br/>
            <a class="media-doc-mm" href="<%= doc.url %>">
              <% if doc.document_type == "pdf" %>
                <%= image_tag "/small-pdf.png", title: "pdf" %>
              <% elsif doc.document_type == "doc" || doc.document_type == "ocx" %>
                <%= image_tag "/small-word.png", title: "doc" %>
              <% elsif doc.document_type == "xls" || doc.document_type == "lsx" %>
                <%= image_tag "/small-excell.png", title: "excel" %>
              <% end %>
              <%= doc.title %>
            </a><br/>
            <!-- <p class="media-date-mm">Ngày tạo : <%=doc.created_at %></p> -->
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-medias">
  <%= paginate @medias %>
  <%= page_entries_info @medias, entry_name: "document" %>
</div>

