<div class="navbar-menu">
  <div class="container">
    <div class="navbar-menu-list clearfix blogs-left-sidebar">
      <div class="nav-menu-button nav-left">
        <i class="fa fa-bars icon-home-nav"></i>
        <span class="jet-dropbar__button-text">
          <%= link_to "Danh mục tin công nghệ", blog_list_path, class: "blog-list-link" %>
        </span>
      </div>
      <div class="list-categories">
        <div class="list-categories-content">
          <% @blog_categories.each do |category| %>
            <div class="category-box-item <%= 'current-cat' if category.slug == params[:blog_category_id] %>">
              <h1><%= link_to category.name, blog_list_category_path(category), class: "category-item media-custom", title: category.name %></h1>
            </div>
          <% end %>
        </div>
        <div class="list-categories-content-mobile hidden">
          <div class="category-box-item text-right close-list-categories-mobile">x</div>
          <% @blog_categories.each do |category| %>
            <div class="category-box-item <%= 'current-cat' if category.slug == params[:blog_category_id] %>">
              <%= link_to category.name, blog_list_category_path(category), class: "category-item media-custom", title: category.name %>
            </div>
          <% end %>
        </div>
<!--         <aside id="archives-4" class="widget widget_archive">
          <h5 class="widget-title">Tháng</h5>
          <label class="screen-reader-text" for="archives-dropdown-4">Archives</label>
          <select id="archives-dropdown-4">
            <option value="<%= blog_list_path() %>">Chọn tháng</option>
            <% @times.each do |time| %>
              <option value="<%= blog_list_path(time: time[:value]) %>" <%= 'selected' if params[:time] == time[:value] %>><%= time[:title] %></option>
            <% end %>
          </select>
        </aside> -->

        <% if @aside_products.present? %>
          <aside id="archives-4" class="widget widget_archive widget-custom td-blog-sidebar">
            <h5 class="title">Sản phẩm nổi bật</h5>
            <% @aside_products.each do |aside_product| %>
              <%= render "aside_product", product: aside_product %>
            <% end %>
          </aside>
        <% end %>
      </div>
      <div class="nav-right">
        <div class="top-nav-horizontal">
          <ul class="list-nav-horizontal">
            <li id="menu-item-228" class="nav-horizontal-item">
              <%= link_to "Trang chủ", root_url %>
            </li>

            <li id="menu-item-230" class="nav-horizontal-item">
              <%= link_to "Tài liệu", friendly_document_path %>
            </li>

            <li id="menu-item-231" class="nav-horizontal-item">
              <%= link_to "Video", friendly_video_path %>
            </li>

            <li id="menu-item-232" class="nav-horizontal-item">
              <%= link_to "Liên hệ", friendly_contact_path %>
            </li>

            <li id="menu-item-233" class="nav-horizontal-item">
              <%= link_to "Tin công nghệ", blog_list_path() %>
            </li>
          </ul>
        </div>
        <div class="brand-button">
          <span class="brand-button-title">
            <i class="fa fa-bookmark-o"></i>
            Thương hiệu
          </span>
          <ul class="list_brands">
            <% @brand_logos.each do |brand| %>
              <li class="brand-name-item" title="<%= brand.name %> - <%= brand.location %>">
                <%= link_to "#{brand.name} - #{brand.location}", product_brand_path(brand), class: "brand-name" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
