<div class="blogs-page">
  <%= render "left_sidebar", menu_detail: false %>
  <div class="site-content_wrap container">
    <div id="product-order-placeholder"></div>
    <div id="order-result-placeholder"></div>
    <div id="primary" class="box-content col-md-12 margin-custom">
      <%= render "layouts/breadcrumbs" %>
      <main id="main" class="site-main blogs-custom" role="main">
        <div class="row box-content-custom">
          <% unless @blogs.present? %>
            <span>Bài viết đang được cập nhật.</span>
          <% end %>

          <!-- box Tin tức nổi bật -->
          <div class="col-xs-12">
            <div class="brand-title">
              <p class="typical-product-brand">Tin tức nổi bật</p>
            </div>
            <div class="row home-blog-part">
              <div class="col-md-8">
                <div class="thumbnail blog-most-popular">
                  <div class="blog-image">
                    <%= link_to blog_detail_path(@blogs.first) do %>
                      <%= image_tag @blogs.first.feature_image_thumb_url, alt: @blogs.first.feature_image_alt, title: @blogs.first.feature_image_title %>
                    <% end %>
                  </div>
                  <div class="caption">
                    <h3 class="blog-product-title blog-product-special">
                      <%= link_to @blogs.first.title, blog_detail_path(@blogs.first), class: "blog-title" %>
                    </h3>
                    <div class="blog-content">
                      <i class="blog-content-preview"><%= @blogs.first.content %></i>
                    </div>
                    <div class="tm-posts_item_meta entry-meta pull-right custom-entry-meta">
                      <a class="text-right text-sm"><small>Ngày đăng: <%= @blogs.first.created_at.strftime(Settings.format.created_at) %></small></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <% @blogs.limit(3).each do |blog| %>
                  <div class="thumbnail blog-product-custom">
                    <div class="blog-image-custom">
                      <%= link_to blog_detail_path(blog) do %>
                        <%= image_tag blog.feature_image_thumb_url, alt: blog.feature_image_alt, title: blog.feature_image_title %>
                      <% end %>
                    </div>
                    <div class="caption">
                      <h3 class="blog-product-title">
                        <%= link_to blog.title, blog_detail_path(blog), class: "blog-title" %>
                      </h3>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!-- end -->

          <!-- box Thương hiệu uy tín -->
          <div class="col-xs-12">
            <div class="brand-title">
              <p class="typical-product-brand">Thương hiệu uy tín</p>
            </div>

            <div class="row">
              <% @blogs.limit(8).each do |blog| %>
                <div class="col-xs-3">
                  <div class="thumbnail blog-brand">
                    <div class="blog-image">
                      <%= link_to blog_detail_path(@blogs.first) do %>
                        <%= image_tag @blogs.first.feature_image_thumb_url, alt: @blogs.first.feature_image_alt, title: @blogs.first.feature_image_title %>
                      <% end %>
                    </div>
                    <div class="caption">
                      <h3 class="blog-product-title blog-product-special">
                        <%= link_to @blogs.first.title, blog_detail_path(@blogs.first), class: "blog-title" %>
                      </h3>
                      <div class="blog-content">
                        <i class="blog-content-preview"><%= @blogs.first.content %></i>
                      </div>
                      <div class="tm-posts_item_meta entry-meta pull-right">
                        <a class="text-right text-sm"><small>Ngày đăng: <%= @blogs.first.created_at.strftime(Settings.format.created_at) %></small></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <!-- end -->

          <!-- box Kinh nghiệm lựa chọn sản phẩm -->
          <div class="col-xs-12">
            <div class="brand-title">
              <p class="typical-product-brand">Kinh nghiệm lựa chọn sản phẩm</p>
            </div>

            <div class="brand-logo-box">
              <div id="experience-chosen" class="experience-chosen carousel slide certificate-class" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <% @blogs.first(4).each do |blog| %>
                      <div class="col-xs-3">
                        <%= link_to blog_detail_path(blog) do %>
                          <div class="thumbnail blog-brand">
                            <div class="blog-image">
                              <%= image_tag blog.feature_image_thumb_url, alt: blog.feature_image_alt, title: blog.feature_image_title %>
                            </div>
                            <div class="caption">
                              <h3 class="blog-product-title blog-product-special">
                                <p class="blog-title">
                                  <%= blog.title %>
                                </p>
                              </h3>
                              <div class="blog-content">
                                <i class="blog-content-preview"><%= blog.content %></i>
                              </div>
                              <div class="tm-posts_item_meta entry-meta pull-right">
                                <p class="text-right text-sm"><small>Ngày đăng: <%= blog.created_at.strftime(Settings.format.created_at) %></small></p>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <% @blogs.each_slice(4).to_a.each do |blog_array| %>
                    <div class="item">
                      <% blog_array.each do |blog| %>
                        <div class="col-xs-3">
                          <%= link_to blog_detail_path(blog) do %>
                            <div class="thumbnail blog-brand">
                              <div class="blog-image">
                                <%= image_tag blog.feature_image_thumb_url, alt: blog.feature_image_alt, title: blog.feature_image_title %>
                              </div>
                              <div class="caption">
                                <h3 class="blog-product-title blog-product-special">
                                  <p class="blog-title">
                                    <%= blog.title %>
                                  </p>
                                </h3>
                                <div class="blog-content">
                                  <i class="blog-content-preview"><%= blog.content %></i>
                                </div>
                                <div class="tm-posts_item_meta entry-meta pull-right">
                                  <a class="text-right text-sm"><small>Ngày đăng: <%= blog.created_at.strftime(Settings.format.created_at) %></small></a>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control custom-carousel" href="#experience-chosen" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control custom-carousel" href="#experience-chosen" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
          </div>
          <!-- end -->

          <!-- box Tin khoa học công nghệ -->
          <div class="col-xs-12">
            <div class="brand-title">
              <p class="typical-product-brand">Tin khoa học công nghệ</p>
            </div>
            <div class="row home-blog-part">
              <div class="col-md-8">
                <div class="thumbnail blog-most-popular">
                  <div class="blog-image">
                    <%= link_to blog_detail_path(@blogs.first) do %>
                      <%= image_tag @blogs.first.feature_image_thumb_url, alt: @blogs.first.feature_image_alt, title: @blogs.first.feature_image_title %>
                    <% end %>
                  </div>
                  <div class="caption">
                    <h3 class="blog-product-title blog-product-special">
                      <%= link_to @blogs.first.title, blog_detail_path(@blogs.first), class: "blog-title" %>
                    </h3>
                    <div class="blog-content">
                      <i class="blog-content-preview"><%= @blogs.first.content %></i>
                    </div>
                    <div class="tm-posts_item_meta entry-meta pull-right custom-entry-meta">
                      <a class="text-right text-sm"><small>Ngày đăng: <%= @blogs.first.created_at.strftime(Settings.format.created_at) %></small></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <% @blogs.limit(3).each do |blog| %>
                  <div class="thumbnail blog-product-custom">
                    <div class="blog-image-custom">
                      <%= link_to blog_detail_path(blog) do %>
                        <%= image_tag blog.feature_image_thumb_url, alt: blog.feature_image_alt, title: blog.feature_image_title %>
                      <% end %>
                    </div>
                    <div class="caption">
                      <h3 class="blog-product-title">
                        <%= link_to blog.title, blog_detail_path(blog), class: "blog-title" %>
                      </h3>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!-- end -->

          <!-- box Tin khuyến mại - Gói sản phẩm ưu đãi -->
          <div class="col-xs-12">
            <div class="brand-title">
              <p class="typical-product-brand">Tin khuyến mại - Gói sản phẩm ưu đãi</p>
            </div>

            <div class="brand-logo-box">
              <div id="blog-sale" class="experience-chosen carousel slide certificate-class" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <% @blogs.first(4).each do |blog| %>
                      <div class="col-xs-3">
                        <%= link_to blog_detail_path(blog) do %>
                          <div class="thumbnail blog-brand">
                            <div class="blog-image">
                              <%= image_tag blog.feature_image_thumb_url, alt: blog.feature_image_alt, title: blog.feature_image_title %>
                            </div>
                            <div class="caption">
                              <h3 class="blog-product-title blog-product-special">
                                <p class="blog-title">
                                  <%= blog.title %>
                                </p>
                              </h3>
                              <div class="blog-content">
                                <i class="blog-content-preview"><%= blog.content %></i>
                              </div>
                              <div class="tm-posts_item_meta entry-meta pull-right">
                                <p class="text-right text-sm"><small>Ngày đăng: <%= blog.created_at.strftime(Settings.format.created_at) %></small></p>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <% @blogs.each_slice(4).to_a.each do |blog_array| %>
                    <div class="item">
                      <% blog_array.each do |blog| %>
                        <div class="col-xs-3">
                          <%= link_to blog_detail_path(blog) do %>
                            <div class="thumbnail blog-brand">
                              <div class="blog-image">
                                <%= image_tag blog.feature_image_thumb_url, alt: blog.feature_image_alt, title: blog.feature_image_title %>
                              </div>
                              <div class="caption">
                                <h3 class="blog-product-title blog-product-special">
                                  <p class="blog-title">
                                    <%= blog.title %>
                                  </p>
                                </h3>
                                <div class="blog-content">
                                  <i class="blog-content-preview"><%= blog.content %></i>
                                </div>
                                <div class="tm-posts_item_meta entry-meta pull-right">
                                  <a class="text-right text-sm"><small>Ngày đăng: <%= blog.created_at.strftime(Settings.format.created_at) %></small></a>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control custom-carousel" href="#blog-sale" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control custom-carousel" href="#blog-sale" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
      </main>
      <!-- #main -->
    </div>
      <!-- #primary -->
    <!-- .row -->
  </div>
</div>
