<div id="page-wrapper">
	<div class="row">
	  <div class="col-lg-12">
	    <h1 class="page-header">Thêm sản phẩm cho danh mục</h1>
	  </div>
	</div>
	<div class="row col-md-12" id="multiple-category">
		<div class="col-md-6 choose-product-category">
			<div class="dropdown">
			  <button onclick="myFunction()" class="dropbtn">Chọn danh mục</button>
			  <div id="myDropdown" class="dropdown-content">
			    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
			    <% Category.all.each do |category| %>
			    	<a href="<%= edit_admin_multiple_category_path(category_id: category.id) %>"><%= category.name %></a>
			    <% end %>
			  </div>
			  <span><%= Category.find(params[:category_id] || params[:id]).name %></span>
			</div>
		</div>
	</div>
	<div class="row col-md-12 move-group-button">
		<div class="col-md-6 button-left">
			<button id="chevron-left" onclick="tab2_To_tab1();" class="chevron-button"><i class="fa fa-chevron-left"></i></button>
		</div>
		<div class="col-md-6">
			<button id="chevron-right" onclick="tab1_To_tab2();" class="chevron-button"><i class="fa fa-chevron-right"></i></button>
		</div>
	</div>
	<div class="row col-md-12">
		<div class="col-md-6" style="text-align: center;">
			<p class="product-table-title" style="background-color: #4CAF50; color: white; padding: 5px;">Sản phẩm trong danh mục</p>
			<table id="table1" cellspacing="0" class="table table-striped table-bordered table-sm" width="100%" style="text-align: left;">
				<thead>
					<tr>
					    <th>Id</th>
					    <th>TT</th>
					    <th>Image</th>
					    <th>Name</th>
					    <th>Model</th>
					    <th></th>
					</tr>
				</thead>
				<tbody>
					<% @selected_products.each do |product| %>
						<tr>
						    <td>
						    	<p style="width: 20px !important">
						    		<%= product.id %>
						    	</p>
						    </td>
						    <td>
						    	<input type="text" style="width: 40px;" name="selected-order" value="<%= ProductCategory.find_by(category_id: params[:category_id], product_id: product.id).try(&:list_order) %>">
						    </td>
						    <td style="width: 40px !important; text-align: center;"><img src="<%= product.img_1 %>" style='height:40px; width:40px'></td>
						    <td title="<%= product.name.html_safe %>"><p><%= product.name.html_safe %></p></td>
						    <td><p><%= product.model %></p></td>
						    <td><input type="checkbox" onclick='handleClickSelected("<%= product.id %>");' name="check-tab1"></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<button id="save-change" type="button" class="btn btn-primary" style="margin-bottom: 30px;">Lưu thay đổi</button>
		</div>
		<div class="col-md-6">
			<p class="product-table-title" style="background-color: #4CAF50; color: white; padding: 5px;">Sản phẩm không trong danh mục</p>
			<table id="table2" cellspacing="0" class="table table-striped table-bordered table-sm" width="100%" style="text-align: left;">
				<thead>
					<tr>
					    <th>Id</th>
					    <th>Image</th>
					    <th>Name</th>
					    <th>Model</th>
					    <th></th>
					</tr>
				</thead>
				<tbody>
					<% @unselected_products.each do |product| %>
						<tr>
						    <td>
						    	<p style="width: 20px !important">
						    		<%= product.id %>
						    	</p>
						    </td>
						    <td style="width: 40px !important; text-align: center;"><img src="<%= product.img_1 %>" style='height:40px; width:40px'></td>
						    <td title="<%= product.name %>"><p><%= product.name.html_safe %></p></td>
						    <td><p><%= product.model %></p></td>
						    <td><input type="checkbox" onclick='handleClickUnselected("<%= product.id %>");' name="check-tab2"></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<%= form_for :multiple_category, url: {action: "update", params: {id: 1}}, method: :patch do |f| %>
		<input type="hidden" id="order-ids" name="order_id" value="">
		<input type="hidden" id="category-id" name="category_id" value="">
		<input type="hidden" id="list-selected-id" name="selectedIds" value="">
		<input type="hidden" id="list-unselected-id" name="unselectedIds" value="">
		<input type="submit" name="commit" value="" id="multiple-submit" hidden="true" />
    <% end %>
</div>
<script>
	/* When the user clicks on the button,
	toggle between hiding and showing the dropdown content */
	function myFunction() {
	  document.getElementById("myDropdown").classList.toggle("show");
	}

	function filterFunction() {
	  var input, filter, ul, li, a, i;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  div = document.getElementById("myDropdown");
	  a = div.getElementsByTagName("a");
	  for (i = 0; i < a.length; i++) {
	    txtValue = a[i].textContent || a[i].innerText;
	    if (txtValue.toUpperCase().indexOf(filter) > -1) {
	      a[i].style.display = "";
	    } else {
	      a[i].style.display = "none";
	    }
	  }
	}
</script>
