<h2>Thông tin khách hàng:</h2>
<p><strong>Họ Tên: </strong><%= @user_info[:username] %></p>
<p><strong>Số điện thoại: </strong><%= @user_info[:phone] %></p>
<p><strong>Email: </strong><%= @user_info[:email] %></p>
<p><strong>Địa chỉ giao hàng: </strong><%= @user_info[:received_address] %></p>
<p><strong>Địa chỉ thanh toán: </strong><%= @user_info[:pay_address] %></p>

<h2>Thông tin sản phẩm:</h2>

<p><strong>Tên sản phẩm: </strong><%= link_to ActionController::Base.helpers.strip_tags(@product.name), friendly_product_url(@product), target: "_blank" %></p>
<p><strong>Giá bán: </strong><%= @product.showed_price %></p>
<p><strong>Model: </strong><%= @product.model %></p>
<p><strong>Loại sản phẩm: </strong><%= @product.categories.map(&:name).join(", ") %></p>
<p><strong>Hãng sản xuất: </strong><%= @product.brand.try(:name) %></p>
<p><strong>Xuất xứ: </strong><%= @product.location %></p>
<p><strong>Lĩnh vực: </strong><%= @product.fields.map(&:name).join(", ") %></p>

<h3>Ảnh sản phẩm</h3>:
<span>
  <%= link_to product_url(@product) do %>
    <%= image_tag @product.img_1, size: "thumb", title: @product.img_1_title, alt: @product.img_1_alt if @product.img_1 %>
  <% end %>
</span> &nbsp;&nbsp;
<span>
  <%= link_to product_url(@product) do %>
    <%= image_tag @product.img_2, size: "thumb", title: @product.img_2_title, alt: @product.img_2_alt if @product.img_2 %>
  <% end %>
</span> &nbsp;&nbsp;
