<div class="home-blog-part container td-blog">
  <div class="row">
    <div class="col-xs-12">
      <div class="typical-products-title brand-title">
        <p class="typical-product-brand"><%= link_to "Tin công nghệ", blogs_url() %></p>
      </div>
    </div>
    <div class="tm-posts_listing">
      <div class="row">
        <div class="col-xs-12">
          <% @blogs.each do |blog| %>
            <div class="col-sm-3">
              <div class="thumbnail">
                <div class="blog-image">
                  <%= link_to blog_detail_path(blog) do %>
                    <% if blog.feature_image_thumb_url.present? %>
                      <%= image_tag blog.feature_image_thumb_url, class: "lazy", alt: blog.feature_image_alt, title: blog.feature_image_title %>
                    <% else %>
                      <%= image_tag "480_270.jpg", alt: "Image size 480x270" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="caption">
                  <h5 class="blog-product-title"><%= link_to blog.title, blog_detail_path(blog) %></h5>
                  <div class="tm-posts_item_meta entry-meta pull-right">
                    <a class="text-right text-sm"><small>Ngày đăng: <%= blog.created_at.strftime(Settings.format.created_at) %></small></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
