<div id="jssor_brand" class="clearfix">
  <div data-u="loading" class="jssorl-009-spin">
  </div>
  <div id="home-brand-logo" class="brand-slider-content" data-u="slides" style="margin: 5px;">
    <% @brand_logos.each do |brand| %>
      <div class="brand-logo-border" style="margin: 5px;">
        <a href="<%= product_brand_path(brand) %>">
          <picture>
            <source srcset="<%= brand.image_url(:brand_webp) %>.webp" type="image/webp">
            <source srcset="<%= brand.image_url(:brand_thumb) %>" type="image/jpeg">
            <img data-u="image" src="<%= brand.image_url(:brand_thumb) %>" alt="<%= brand.name %>", title="<%= brand.name %>", class="lazy brand-logo img-responsive">
          </picture>
        </a>
      </div>
    <% end %>
  </div>
</div>

