<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="brand-title">
        <p class="typical-product-brand">Chứng chỉ - Ủy quyền</p>
      </div>
    </div>
    <div class="col-sm-12">
      <div id="certificate" class="carousel slide certificate-class" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-4">
              <%= image_tag "595_842.jpg", class: "img-responsive width-100-percent" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "595_842.jpg", class: "img-responsive width-100-percent" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "595_842.jpg", class: "img-responsive width-100-percent" %>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-4">
              <%= image_tag "595_842.jpg", class: "img-responsive width-100-percent" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "595_842.jpg", class: "img-responsive width-100-percent" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "595_842.jpg", class: "img-responsive width-100-percent" %>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#certificate" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#certificate" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>
