<div class="typical-projects container">
  <div class="row">
    <div class="col-xs-12">
      <div class="typical-products-title brand-title">
        <p class="typical-product-brand">Dự án tiêu biểu</p>
      </div>
    </div>
    <div class="col-sm-6 the-most-product">
      <div class="project-image-1">
        <%= image_tag "555_555.jpg", class: "img-responsive width-100-percent" %>
      </div>
    </div>
    <div class="col-sm-6 padding-left-0 list-product-project">
      <div class="row">
        <div class="col-sm-6 config-padding-30-0">
          <div class="project-image-2">
            <%= image_tag "270_270.jpg", class: "img-responsive width-100-percent" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="project-image-2">
            <%= image_tag "270_270.jpg", class: "img-responsive width-100-percent" %>
          </div>
        </div>
        <div class="col-sm-6 config-padding-30-0">
          <div class="project-image-2">
            <%= image_tag "270_270.jpg", class: "img-responsive width-100-percent" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="project-image-2">
            <%= image_tag "270_270.jpg", class: "img-responsive width-100-percent" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
