<div class="typical-products container">
  <div class="row">
    <div class="col-xs-12">
      <div class="brand-title">
        <ul>
          <li class="typical-product-brand list-product-category">Mục sản phẩm 1</li>
          <li class="typical-product-brand list-product-category">Mục sản phẩm 2</li>
          <li class="typical-product-brand list-product-category">Mục sản phẩm 3</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
  </div>
</div>

<div class="typical-products container">
  <div class="row">
    <div class="col-xs-12">
      <div class="brand-title">
        <ul>
          <li class="typical-product-brand list-product-category">Mục sản phẩm 4</li>
          <li class="typical-product-brand list-product-category">Mục sản phẩm 5</li>
          <li class="typical-product-brand list-product-category">Mục sản phẩm 6</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
    <div class="col-sm-3">
      <%= render "product_field", product: @home_blocks.second.first[:products].first %>
    </div>
  </div>
</div>
