<% if @first_project.present? %>
  <div class="typical-projects container">
    <div class="row">
      <div class="col-xs-12">
        <div class="typical-products-title brand-title">
          <p class="typical-product-brand">Dự án tiêu biểu</p>
        </div>
      </div>
      <div class="col-sm-6 the-most-product">
        <div class="project-image-1">
          <%= link_to "#" do %>
            <%= image_tag @first_project.img.url, class: "img-responsive width-100-percent" %>
            <p class="project-title"><%= @first_project.title %></p>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 padding-left-0 list-product-project">
        <div class="row">
          <% @other_projects.each_with_index do |project, idx| %>
            <div class="col-sm-6 #{'config-padding-30-0' if idx%2 == 0}">
              <div class="project-image-2">
                <%= link_to "#" do %>
                  <%= image_tag project.img.url, class: "img-responsive width-100-percent" %>
                  <p class="project-title"><%= project.title %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
