<% @home_blocks.each do |block| %>
  <div class="typical-products container">
    <div class="row">
      <div class="col-xs-12">
        <div class="brand-title title-custom">
          <ul class="nav nav-tabs nav-tabs-custom">
            <% block.each_with_index do |category, index| %>
              <li class="typical-product-brand list-product-category <%= 'active' if index == 0 %>">
                <a data-toggle="tab" href="#menu<%= category[:id] %>"><%= category[:title] %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="tab-content">
        <% block.each_with_index do |category, index| %>
          <div id="menu<%= category[:id] %>" class="tab-pane fade in <%= 'active' if index == 0 %>">
            <% category[:products].each do |product| %>
              <div class="col-sm-3">
                <%= render "product_field", product: product %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
