<div class="typical-projects container">
  <div class="row">
    <div class="col-xs-12">
      <div class="typical-products-title brand-title">
        <p class="typical-product-brand">Dự án tiêu biểu</p>
      </div>
    </div>
    <div class="col-sm-6 the-most-product">
      <div class="project-image-1">
        <%= link_to "#" do %>
          <%= image_tag "1200_628.jpg", class: "img-responsive width-100-percent" %>
          <p class="project-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6 padding-left-0 list-product-project">
      <div class="row">
        <div class="col-sm-6 config-padding-30-0">
          <div class="project-image-2">
            <%= link_to "#" do %>
              <%= image_tag "1200_628.jpg", class: "img-responsive width-100-percent" %>
              <p class="project-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="project-image-2">
            <%= link_to "#" do %>
              <%= image_tag "1200_628.jpg", class: "img-responsive width-100-percent" %>
              <p class="project-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6 config-padding-30-0">
          <div class="project-image-2">
            <%= link_to "#" do %>
              <%= image_tag "1200_628.jpg", class: "img-responsive width-100-percent" %>
              <p class="project-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="project-image-2">
            <%= link_to "#" do %>
              <%= image_tag "1200_628.jpg", class: "img-responsive width-100-percent" %>
              <p class="project-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
