<div id="product-order-placeholder"></div>
<div id="order-result-placeholder"></div>
<div id="primary">
  <main id="main" class="site-main" role="main">
    <article id="post-48" class="post-48 page type-page status-publish hentry no-thumb">
      <header class="entry-header">
        <h1 class="entry-title screen-reader-text">Home</h1>
      </header>
      <%= render "list_categories" %>

      <div class="container">
        <div class="banner">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <div id="banner-images" class="carousel slide banner-images-class" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#banner-images" data-slide-to="0" class="active"></li>
                  <li data-target="#banner-images" data-slide-to="1" class=""></li>
                  <li data-target="#banner-images" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active item-1">
                  </div>
                  <div class="item item-2">
                  </div>
                  <div class="item item-3">
                  </div>
                </div>
                <a class="left carousel-control" href="#banner-images" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#banner-images" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
            <div class="col-md-3 col-config-sm-hidden">
              <div class="row">
                <div class="col-md-12 padding-left-0 margin-bottom-8">
                  <%= image_tag "215_137.jpg", class: "img-responsive" %>
                </div>
                <div class="col-md-12 padding-left-0">
                  <%= image_tag "215_137.jpg", class: "img-responsive" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render "projects" %>

      <%= render "products" %>

      <%= render "customer_messages" %>

      <%= render "certificates" %>

      <%= render "blog" %>
      <!-- .entry-content -->

      <footer class="entry-footer">
      </footer>
      <!-- .entry-footer -->
    </article>
    <!-- #post-## -->
  </main>
</div>

<%= render "brand_slider" %>
<%= render "subcribe" %>
