<%= render "layouts/breadcrumbs" %>
<div class="site-content_wrap container">
  <div class="row">
    <div id="primary" class="col-xs-12">
      <main id="main" class="site-main" role="main">
        <div id="woo-primary" class="content-area willard">
          <div id="woo-main" class="site-main" role="main">
            <div id="media-table">
              <div class="row" style="margin-top: 50px;">
                <div class="col-md-4 col-md-offset-5" style="margin-top: 50px;">
                  <h1>LIÊN HỆ</h1>
                  <h2 style="color: blue; font-size: 150%">
                    STECH INTERNATIONAL ., LTD<br>
                  </h2>
                  <h3>
                    Điện thoại: <%= @company.phone %> - Hotline: 096.840.6636 Mr.Tú<br>
                  </h3>
                  <h3 class="text-align-none">
                    EMAIL: <%= @company.email %><br>
                  </h3>
                  <h3 class="text-align-none">
                    WEBSITE: <%= @company.website %><br>
                  </h3>
                  <h2 style="color: red;">Rất vui lòng được phục vụ quý khách !!!</h2>
                </div>
              </div>

              <div class="row" style="margin-top: 50px;">
                <div class="col-md-5 col-md-offset-1" style="margin-top: 50px;">
                  <h3>
                    Văn phòng: <%= @company.hn_address %><br>
                  </h3>
                  <div id="map_hn" style="height: 500px; width: 100%"></div>
                  <input type="hidden" id="hn_map_lat" value="<%= @company.hn_map_lat %>">
                  <input type="hidden" id="hn_map_lng" value="<%= @company.hn_map_lng %>">
                  <script>
                    function initMap() {
                      var hn_lat = parseFloat($("#hn_map_lat").val());
                      var hn_lng = parseFloat($("#hn_map_lng").val());
                      var uluru = {lat: hn_lat, lng: hn_lng};
                      var map_hn = new google.maps.Map(document.getElementById('map_hn'), {
                        zoom: 15,
                        center: uluru
                      });
                      var marker = new google.maps.Marker({
                        position: uluru,
                        map: map_hn
                      });
                    }
                  </script>
                  <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbEWIklaDSw8BsgQhkabXXYnM3DcKFNyQ&callback=initMap">
                  </script>
                </div>

                <div class="col-md-5 col-md-offset-1" style="margin-top: 50px;">
                  <h3>
                    Văn phòng: <%= @company.hn_address %><br>
                  </h3>
                  <div id="map_sg" style="height: 500px; width: 100%"></div>
                  <input type="hidden" id="sg_map_lat" value="<%= @company.sg_map_lat %>">
                  <input type="hidden" id="sg_map_lng" value="<%= @company.sg_map_lng %>">
                  <script>
                    function initMap() {
                      var sg_lat = parseFloat($("#sg_map_lat").val());
                      var sg_lng = parseFloat($("#sg_map_lng").val());
                      var uluru = {lat: sg_lat, lng: sg_lng};
                      var map_sg = new google.maps.Map(document.getElementById('map_sg'), {
                        zoom: 15,
                        center: uluru
                      });
                      var marker = new google.maps.Marker({
                        position: uluru,
                        map: map_sg
                      });
                    }
                  </script>
                  <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbEWIklaDSw8BsgQhkabXXYnM3DcKFNyQ&callback=initMap">
                  </script>
                </div>
              </div>

              <h1 style="text-align: center; margin-top: 50px;">GỬI LIÊN HỆ</h1>
              <h2 style="text-align: center;">Nếu bạn có bất cứ thắc mắc hay câu hỏi gì? Hãy liên hệ với Chúng tôi ngay</h2>
              <%= form_for @contact, url: contacts_path, html: {class: "width-100"} do |f| %>
                <div class="row">
                  <div class="col-md-5 col-md-offset-1 margin-40">
                    Họ tên của bạn: <br><br>
                    <%= f.text_field :full_name, class: "width-100" %><br />
                  </div>
                  <div class="col-md-5 margin-40">
                    Tiêu đề liên hệ:<br><br>
                     <%= f.text_field :title, class: "width-100" %><br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 col-md-offset-1 margin-40">
                    Điện thoại của bạn:<br><br>
                     <%= f.text_field :phone, class: "width-100" %><br /><br /><br />
                    Email của bạn:<br><br>
                    <%= f.text_field :email, class: "width-100" %><br />
                  </div>
                  <div class="col-md-5 margin-40">
                    Nội dung liên hệ:<br><br>
                     <%= f.text_area :content, class: "width-100 text-area-contact" %><br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-offset-5">
                    <%= f.submit "GỬI LIÊN HỆ", class: "submit-contact btn btn-primary margin-left-75" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
