<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <strong>Tên sản phẩm</strong> </br>
    <%= f.cktext_area :name, class: "form-control" %>
  </div>

  <div class="form-group form-group-part col-xs-12">
    <strong>Liên hệ</strong> </br>
    <%= f.cktext_area :contact, class: "form-control" %>
  </div>
</div>
<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <strong>Đường dẫn tĩnh</strong> </br>
    <%= f.text_field :static_url, class: "form-control" %>
  </div>
</div>
<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <strong>Meta title</strong> </br>
    <%= f.text_field :meta_title, class: "form-control" %>
  </div>
</div>
<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <div class="col-xs-3 price-form" style="padding-right: 30px;">
      <strong>Giá (.000 VNĐ)</strong> </br>
      <%= f.number_field :price, class: "form-control" %>
    </div>

    <div class="col-xs-3 price-form" style="padding-right: 30px;">
      <strong>Giá sale (.000 VNĐ)</strong> </br>
      <%= f.number_field :discount_price, class: "form-control" %>
    </div>

    <div class="col-xs-3 price-form" style="padding-right: 30px;">
      <strong>Mã sản phẩm</strong> </br>
      <%= f.text_field :model, class: "form-control" %>
    </div>

    <div class="col-xs-3 price-form" style="padding-right: 30px;">
      <strong>Xuất xứ</strong> </br>
      <%= f.text_field :origin, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row show-grid" style="padding: 10px;border: lightgray solid 1px;">
  <div class="form-group form-group-part col-xs-12">
    <div class="col-xs-2">
      <%= link_to "Nhập thông số", "#product-parameter", id:"product-parameter-id", :class => "btn btn-success", "data-toggle" => "modal" %>
    </div>

    <div class="col-xs-3 parameter-form">
      <%= f.select :is_parameter_table, [['Dạng text', false], ['Dạng bảng', true]], {}, { class: "form-control", style:"display: block !important;"} %>
    </div>
    
    <div class="col-xs-5">
      <p class="product-parameter-span multi-line"></p>
    </div>
  </div>
</div>

<div class="row show-grid" style="padding: 10px;border: lightgray solid 1px;">
  <p class="btn btn-info">Chọn hãng</p>
  <input type="text" placeholder="Search.." id="myInputBrand" onkeyup="brandFilterFunction()">
  <hr>
  <div id="myDropdownBrand" class="form-group form-group-part">
    <%= f.collection_check_boxes :brand_id, Brand.all, :id, :name do |cb| %>
      <div class="checkbox col-xs-3" style="margin-top: 0">
        <label>
          <%= cb.check_box %><%= cb.text %>
        </label>
      </div>
    <% end %>
  </div>
</div>

<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <strong>Mô tả ngắn</strong> </br>
    <%= f.cktext_area :short_description, class: "form-control", rows: 5 %>
  </div>
</div>

<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <strong>Mô tả</strong> </br>
    <%= f.cktext_area :description, class: "ckarea-blog-content" %>
  </div>
</div>

<div class="modal fade" id="product-parameter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title custom_align" id="Heading">Thông số sản phẩm</h4>
      </div>
      <div class="modal-body">
        <%= f.text_area :parameter, class: "form-control hidden", placeholder: "Nhập thông số", style: "height: 500px" %>
        <div id="product-parameter-table-div">
          <table class="table table-bordered" id="product-parameter-table">
            <thead>
              <tr>
                <th>Thuộc tính</th>
                <th>Giá trị</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if @product.parameter.present? %>
                <% @product.parameter.split(";").count.times do |n|%>
                  <tr>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><button type="button" class="btn btn-danger delete-param-product">Xóa</button></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <button type="button" class="btn btn-success" id="add-param-product">Thêm thuộc tính</button>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="confirm-param-product">OK</button>
      </div>
    </div>
  </div>
</div>
