<div class="images">
  <% if @product.img_1.present? %>
    <div class="easyzoom is-ready easyzoom--overlay easyzoom--with-thumbnails">
      <a href="" class="woocommerce-main-image">
        <%= image_tag @product.img_1, title: @product.img_1_title, alt: @product.img_1_alt, 'data-zoom-image': @product.img_1, id: 'zoom', class: "product-detail-images" %>
      </a>
    </div>
  <% else %>
    <div class="easyzoom is-ready easyzoom--overlay easyzoom--with-thumbnails">
      <a href="" class="woocommerce-main-image">
        <%= image_tag "223_223.jpg", alt: "Image size 223x223" %>
      </a>
    </div>
  <% end %>

  <div class="swiper-carousel-container">
    <div id="swiper-carousel-59e9bc5f03f8c" class="tm-willard-carousel swiper-container swiper-container-horizontal" style="cursor: -webkit-grab;">
      <div class="swiper-wrapper" id="gallery_01">
        <% if @product.img_1.present? %>
          <a href="" data-image="<%= @product.img_1 %>" data-zoom-image="<%= @product.img_1 %>" class="thumb-image-product">
            <%= image_tag @product.img_1, size: "10", title: @product.img_1_title, alt: @product.img_1_alt %>
          </a>
        <% end %>
        <% if @product.img_2.present? %>
          <a href="" data-image="<%= @product.img_2 %>" data-zoom-image="<%= @product.img_2 %>" class="thumb-image-product">
            <%= image_tag @product.img_2, size: "10", title: @product.img_2_title, alt: @product.img_2_alt %>
          </a>
        <% end %>
      </div>

      <script>
        //initiate the plugin and pass the id of the div containing gallery images
        $("#zoom").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, scrollZoom: true, tintOpacity: 0.5, zoomLevel: 0.6});

        //pass the images to Fancybox
        $("#zoom").bind("click", function(e) {
          var ez =   $('#zoom').data('elevateZoom');
          $.fancybox(ez.getGalleryList());
          return false;
        });
      </script>
    </div>
  </div>
</div>
