<div id="sidebar" class="left-menu left-menu-responsive" role="complementary">
  <div class="category-box">
    <% @categories.each do |category| %>
      <% unless category.second.present? %>
        <h2 class="title-category-detail">
          <%= link_to category.first.name, product_categories_path(category.first), title: "#{category.first.name}" %>
        </h2>
      <% else %>
        <h2 class="title-category-detail">
          <%= link_to category.first.name, product_categories_path(category.first), title: "#{category.first.name}" %>
        </h2>
        <ul class="sub-category">
          <% category.second.each_with_index do |sub_category, j| %>
            <li class="sub-category-item">
              <%= link_to category_products_path(sub_category.first), title: "#{sub_category.first.name}" do %>
                <i class="fa fa-caret-right"></i>
                <%= sub_category.first.name %>
              <% end %>

              <ul class="sub-category-level-2">
                <% 15.times do %>
                  <li class="sub-category-level-2-item">
                    <%= link_to "sub-category level 2 mẫu ", "#" -%>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
