  <div id="product-order-placeholder"></div>
  <div id="order-result-placeholder"></div>
  <%= render "pages/list_categories", menu_detail: true %>
  <div class="container product-detail-box">
    <%= render "left_menu" %>
    <div id="primary" class="product-detail">
      <main id="main" class="site-main" role="main">
        <div id="woo-primary" class="content-area willard">
          <div id="woo-main" class="site-main" role="main">
            <div id="product-215" class="post-215 product type-product status-publish has-post-thumbnail hentry product_shipping_class-class-2 has-thumb swiper-slide">
              <%= form_for @product, url: products_path do |f|%>
                <div class="row single_product_wrapper">

                  <!-- image -->
                  <div class="col-sm-5">
                    <div class="single-image-container">
                      <%= render "image_detail" %>
                    </div>
                  </div>

                  <!-- detail -->
                  <div class="col-sm-7">
                    <div class="summary entry-summary">
                      <div class="product-info-content">
                        <span class="posted_in">
                          <% @product.categories.each do |category| %>
                            <%= link_to "#{category.name} ", product_category_path(category), rel: "tag" %>
                          <% end %>
                        </span>

                        <h1 class="product_title entry-title product-h1-custom">
                          <%= @product.name.html_safe %>
                        </h1>

                        <p class="price">
                          <span class="woocs_price_code span-left" data-product-id="215">
                            <% if @product.discount_price_currency.present? %>
                              <del>
                                <span class="woocommerce-Price-amount amount span-left"><%= @product.price_currency %>
                                  <span class="woocommerce-Price-currencySymbol">VNĐ</span>
                                </span>
                              </del>
                              <ins>
                                <span class="woocommerce-Price-amount amount span-left red"><%= @product.discount_price_currency %>
                                  <span class="woocommerce-Price-currencySymbol">VNĐ</span>
                                </span>
                              </ins>
                            <% elsif @product.price_currency.present? %>
                              <span class="woocommerce-Price-amount amount span-left red"><%= @product.price_currency %>
                                <span class="woocommerce-Price-currencySymbol">VNĐ</span>
                              </span>
                            <% end %>
                          </span>
                        </p>

                        <div class="woocommerce-product-details__short-description">
                          <p class="black">
                            <b>Mã sản phẩm: </b><%= @product.model %>
                          </p>
                        </div>

                        <div class="woocommerce-product-details__short-description">
                          <p class="black">
                            <b>Hãng sản xuất: </b><%= @product&.brand&.name %>
                          </p>
                        </div>

                        <div class="woocommerce-product-details__short-description">
                          <p class="black">
                            <b>Xuất xứ: </b><%= @product&.location %>
                          </p>
                        </div>

                        <div class="woocommerce-product-details__short-description">
                          <p class="black">
                            <b>Tình trạng hàng hóa: </b>Còn hàng
                          </p>
                        </div>

                        <div class="woocommerce-product-details__short-description
                          short-description-detail" title="<%= @product.short_description&.html_safe %>">
                          <%= @product.short_description&.html_safe %>
                        </div>
                      </div>

                      <form class="cart" method="post" enctype="multipart/form-data" data-product_id="215" data-product_variations="[hash_array]" current-image="">
                        <div class="custom-cart-button">
                          <div class="">
                            <%= link_to "MUA", order_product_path(@product), remote: true, rel: "nofollow",
                              "data-product-id": @product.id, class: "single_add_to_cart_button button alt custom-button" %>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- .summary -->
                  </div>
                </div>
                <%= render "description" %>
                <%= render "related_products_sidebar" %>
              <% end %>
            </div>
            <!-- #product-215 -->
          </div>
        </div>
      </main>
      <!-- #main -->
    </div>
  </div>
    <!-- #primary -->
  <!-- .row -->
